<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELotto">

        <!-- ADMIN DASHBOARD (Accessible via Profile) -->
        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false"
            android:label="Admin Dashboard" />

        <!-- MainActivity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>

        <activity
            android:name=".ui.home.EventCreationView"
            android:exported="false" />

        <activity android:name=".ui.home.QRCodeView"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.home.MyEventsView"
            android:exported="false" />

        <!-- Other Admin Activities -->
        <activity
            android:name=".ui.admin.AdminBrowseEventsActivity"
            android:exported="false"
            android:label="Browse Events"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.AdminBrowseProfilesActivity"
            android:exported="false"
            android:label="Browse Profiles"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.AdminBrowseImagesActivity"
            android:exported="false"
            android:label="Browse Images"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.AdminBrowseNotificationsActivity"
            android:exported="false"
            android:label="Browse Notifications"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <!-- ADD THIS PROVIDER HERE ↓ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>